body{
    background-color: #2d2d2d;
    overflow: hidden;
    margin: 0 !important;
	font-family: sans-serif;

}
.imageBGindex{
    width: 80%;
    margin-left: 10%;
    position: sticky;

}

.imageBGindex img{
    opacity: 0.3;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: sticky;
}
.logoIndex{
    height: 100px;
    width: 100%;
    margin: 0 auto;
}
.logoIndex img {
    margin: 0 auto;
    height: 150px;
    width: 250px;
    position: absolute;
    top: 9px;
    left: 43%;
}
#sloganIndex{
    color: white;
    position: absolute;
    top: 160px;
    left: 33%;
    font-family: Lora, Georgia, serif;
}
#herrie{
    font-size: 1.2em;
    color: white;
    font-style: italic;
    position: absolute;
    top: 220px;
    left: 47%;
    margin: 0 auto;
}
.main-nav{
  
    font-family: Karla, Arial, sans-serif;
    z-index: 10000;
    width: 200%;
    margin: 0 auto;
    position: absolute;
    left: 35%;
    top: 28%;
    text-align: center;
    height: 40px;
	float: left;
	text-transform: uppercase;
	text-decoration: none;
}
.main-nav a{
    text-align: center;
    margin: 0px;
    padding-left: 12.5%;
    color: white;
    align-content: center;
    font-size: 10px;
	float: left;
	text-decoration: none;


}
.main-nav ul {
    display: block;
    list-style: none;
    margin: 0;
    float: left;
}
nav ul li{
    color: white;
    float: left;
    margin: 10px;
}
nav ul li a{
    color: white;

}
.nav-menu{
    position: relative;
    left: 40px;
}
.bigText_home{
    width: auto;
    height: auto;
    margin: 5px;
    text-align: center;
    position: relative;
    top: -750px;
    font-style: italic;
    font-size: 30px;
}
.bigText_home h1{
    color: white;
}
.blueText_home{
    color: #83b6cc;
}
.smallText_home{
    position: absolute;
    top: 75%;
    left: 28%;
}
.smallText_home{
    color: white;
    font-style: italic;
    font-size: 25px;
    text-align: center;
}
.buttons_home{
    position: absolute;
    top: 90%;
    left: 54%;
    height: 25px;
}
#faceButton{
    width: auto;
    border-radius: 25px;
    margin: 40px;
    background-color: #2d2d2d;
    display: inline-block;
    color: dodgerblue;
    left: -350px;
    top: -45px;
    position: relative;
}
#faceButton p{
    margin: 10px 40px;
    font-size: 20px;
}
#bookButton{
    width: auto;
    border-radius: 25px;
    background-color: white;
    color: dodgerblue;
    display: inline-block;
    position: relative;
    top: -4px;
}
#bookButton p{
    margin: 10px 40px;
    font-size: 20px;
}
#bookButton:hover{
    border: 1px solid white;
    color: white;
    background: #2d2d2d ;
}
#faceButton:hover{
    border: 1px solid #2d2d2d;
    color: white;
    background-color: dodgerblue;
}
.blauw{
    color: #83b6cc !important ;
}
.topNav{
    width: 75%;
    height: 35px;
    margin-left: 11.8%;
    background-color: #221F1C;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: absolute;
    top: 0px;
    left: -4px;
	text-transform: uppercase;
	text-decoration: none;
}
.topNav a{
    text-align: center;
    margin: 0px;
    padding-left: 12.5%;
    color: white;
    align-content: center;
    font-size: 10px;
	text-decoration: none;


}
.pageIndicator{
    height: 50px;
    width: 200px;
    text-align: center;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    color: white;
    font-size: 30px;
    position: relative;
    left: 45%;
    margin-top: 20px;
    top: -970px;
}
.pageIndicator p{
    position: relative;
    top: -25px;
    padding: 10px;
}
.text_band{
    text-align: center;
    font-style: italic;
    color: white;
    font-size: 20px;
    padding-top: 15px;
    position: relative;
    top: -970px;
	font-size: 0.9em;
}
#gezellig{
    font-size: 0.9em !important;
    text-align: center;
}
.img_leden img{
    border-radius: 50%;
    border: 2px solid black;
}
.band_leden{
    display: inline-block;
    color: white;
    font-style: italic;
    margin-top: 25px;
    position: relative;
    left: 150px;
	font-size: 0.8em;
}
.Carla{
    margin-left: 10px;
    display: inline-block;
    position: relative;
    top: -1030px;
    left: 150px;
}
.name_leden{
    color: #83b6cc !important;
}
.Mark{
    position: relative;
    display: inline-block;
    top: -1070px;
    left: 190px;
    margin-left: 20px;
}
.Vincent{
    position: relative;
    display: inline-block;
    top: -1070px;
    left: 190px;
    margin-left: 20px;
}
.Wim{
    position: relative;
    display: inline-block;
    top: -980px;
    left: 210px;

}
#bg_Band{
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: sticky;
    margin-left: 12.5%;
    top: 30px;
    background-repeat: no-repeat;

}
#bg_Audio{
	width: 100%;
	heiht: 100%;
	position: sticky;
	margin-left: 12.5%;
	top: 30px;
	background-repeat: no-repeat;
	opacity: 0.7;
}
.blijeKlant{
	  text-align: center;
    font-style: italic;
    color: white;
    font-size: 20px;
    padding-top: 15px;
    position: relative;
    top: -850px;
	left: -350px;
	font-size: 0.9em;	
}
.blijeKlant img{
	border-radius: 50%;
	display: inline-block;
	left: -250px;
}
.recensie{
	display: inline-block;
}
.tekst_audio{
	color:  #ffffff;
    font-style: italic;
	max-width: 680px;
	font-size: 1.3em;
    font-style: italic;
    margin: 0 auto 1em ;
    text-align: center;
	margin-top : 4%;
top: -100000000000000px;}
	

.muziek{
	margin-top: 150px;
	position: absolute;
	margin-left: 150px;
	top: -250px;
	
}

.logo_audio{
	position:absolute;
	width: auto;
	top: 2%;	
	left:15%;
	top: -250px;
}

.ontrouw1{
	font-size: 1.3em;
	color: #83b6cc; 
	margin-left: 11%;
	position: absolute;
	margin-top: 7%;
	top: -250px;
	
.ontrouw2{
	font-size: 1.1em;
	color: #ffffff; 
	margin-left: 11%;
	position: absolute;
	margin-top: 14%;
	top: -250px;
}

.ontrouw3{
	font-size: 1.1em;
	color: #ffffff; 
	margin-left: 11%;
	position: absolute;
	margin-top: 19%;
	top: -250px;
}
.ontrouw4{
	font-size: 1.1em;
	color: #ffffff; 
	margin-left: 11%;
	position: absolute;
	margin-top: 21%;
	top: -250px;
}
.verhaal1{
	font-size: 1.3em;
	color: #83b6cc; 
	margin-left: 31%;
	position: absolute;
	margin-top: 7%;
	top: -250px;
}
.verhaal2{
	font-size: 1.1em;
	color: #ffffff; 
	margin-left: 31%;
	position: absolute;
	margin-top: 14%;
	top: -250px;
}
.doe1{
	font-size: 1.3em;
	color: #83b6cc; 
	margin-left: 51%;
	position: absolute;
	margin-top: 7%;
	top: -250px;
}
.doel2{
	font-size: 1.1em;
	color: #ffffff; 
	margin-left: 51%;
	position: absolute;
	margin-top: 14%;
	top: -50px;
}
.liefde1{
	font-size: 1.3em;
	color: #83b6cc; 
	margin-left: 70%;
	position: absolute;
	margin-top: 7%;
	top: -250px;
	
}
.liefde2{
	font-size: 1.1em;
	color: #ffffff; 
	margin-left: 70%;
	position: absolute;
	margin-top: 14%;
	top: -250px;

}
.logo_video{
	position:absolute;
	width: auto;
	top: 2%;	
	left:15%;
}
.text_video{
	color: #ffffff;
	max-width: 460px;
	font-size: 1.3em;
    font-style: italic;
    margin: 0 auto 1.1em ;
	margin-top : 11%;
	text-align: center;
	margin-left: 55%;
	}

.video{
	position: absolute;
	margin-left: 15%;
	margin-top: 10%;
	top: -25555555555555555555555555555555555555555555555555555555555555555555550px			;
}
.video_page{
	top: -25000000000000000000000000000000000000000000000000000000000000000000000000000px;
	position: relative;
