
html {
  background: url(blad.jpg) 
  no-repeat center center fixed;
  background-size: cover;
  height: 100%;

}
* {
 padding: 0;
 margin: 0;
 font-family: Trebuchet MS;
}
 
.menu {
 margin: 5px;
 padding: 5px;
text-align: center;
margin-top: 2%;

}
 
.menu ul li {
 display: inline;
 padding: 0 5px;
 width: 40px;
}
 
.menu ul li a, a:link, a:visited, a:active {
 color: #FFF;
 text-decoration: none;
 font-weight: bold;
 border-bottom: 3px solid #FFF;
}
 
.menu ul li a:hover {
 color: #FFF;
 border-bottom: 5px solid #00ff40;
 border-top:  5px solid #00ff40;
}

.logo_video{
	position:absolute;
	width: auto;
	top: 2%;	
	left:15%;
}
.text_video{
	color: #ffffff;
	max-width: 460px;
	font-size: 1.3em;
    font-style: italic;
    margin: 0 auto 1.1em ;
	margin-top : 11%;
	text-align: center;
	margin-left: 55%;
	}

.video{
	position: absolute;
	margin-left: 15%;
	margin-top: 10%;
}
.topNav{
    width: 75%;
    height: 35px;
    margin-left: 11.8%;
    background-color: #221F1C;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: absolute;
    top: 0px;
    left: -4px;
	text-transform: uppercase;
	text-decoration: none;
}
.topNav a{
    text-align: center;
    margin: 0px;
    padding-left: 12.5%;
    color: white;
    align-content: center;
    font-size: 10px;
	text-decoration: none;


}
.pageIndicator{
    height: 50px;
    width: 200px;
    text-align: center;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    color: white;
    font-size: 30px;
    position: relative;
    left: 45%;
    margin-top: 20px;
    top: -975px;
}
.pageIndicator p{
    position: relative;
    top: 5px;
    padding: 10px;
}
#bg_Audio{
	position: relative;
	left: 230px;
}