body {
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#navigation li {
    list-style: none;
    display: block;
    float: left;
    margin: 1em;
    padding: 0.5em 1em;
}

#navigation li a {
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    display: block;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.10em;
    margin: 0 .5em;
    text-align: center;
}

#navigation li a:hover {
    margin-top: 2px;
}

#navigation_container {
    margin: 0 auto;
    width: 960px;
    position: relative;
    top: 150px;
}

.rectangle {
    background: ;
    height: 62px;
    position: relative;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 500;
    /*margin: 3em 0;*/
}

.rectangle {
    background: ;
    height: 62px;
    position: relative;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 500;
}

.footer-basic-centered{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;

    padding: 10px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.footer-basic-centered .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
}

.footer-basic-centered .footer-links{
    list-style: none;
    font-weight: bold;
    color:  #ffffff;
    padding: 35px 0 23px;
    margin: 0;
}

.footer-basic-centered .footer-links a{
    display:inline-block;
    text-decoration: none;
    color: inherit;
}

@media (max-width: 600px) {

    .footer-basic-centered{
        padding: 35px;
    }

    .footer-basic-centered .footer-company-motto{
        font-size: 18px;
    }

    .footer-basic-centered .footer-company-name{
        font-size: 12px;
    }

    .footer-basic-centered .footer-links{
        font-size: 14px;
        padding: 25px 0 20px;
    }

    .footer-basic-centered .footer-links a{
        line-height: 1.8;
    }
}

.header{
    font-size: 2em;
    text-align: center;
    color: white;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    position: relative;
    top: -70px;
}

p.bijtekst{
    font-size: 1.5em;
    color:white;
    text-align:center;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


