body {
    background-color: #2d2a26;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body::after {
    content: "";
    background-image: url(https://i0.wp.com/heerlijkemuziek.nl/wp-content/uploads/2016/07/intro.jpg?resize=1400%2C933);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-filter: blur(5px);

    background-size: 100%;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

button {
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    background: transparent url("../image/buttons.png") no-repeat 0 0;
}

h2 {
    color: white;
    margin-left: 5%;
    margin-top: 4%;
}

h3 {
	color: white;
	margin-left: 25%;
	margin-top: 0%;
}
#video {
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    width: 55%;
    border-radius: 2%;
    padding-top: 2%;
    float: left;
}

video {
    border: 1px solid #2e52a4;
    width: 100%;
    height: 300px;
    background: #000;
}

progress {
    color: #fff;
    font-size: 12px;
    width: 172px;
    height: 16px;
    border: none;
    margin-right: 5px;
    background: #434343;
}

progress::-moz-progress-bar {
    background: #2e52a4;
}

.pause {
    background-position: -19px 0;
}

.stop {
    background-position: -38px 0;
}

.volume-plus {
    background-position: -57px 0;
}

.volume-minus {
    background-position: -76px 0;
}

.mute {
    background-position: -95px 0;
}

.unmute {
    background-position: -114px 0;
}

.replay {
    background-position: -133px 0;
}